*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color:hsl(217, 54%, 11%);
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.main-container{
    width: 100%;
    max-width: 300px;
    background-color:hsl(216, 50%, 16%);
    padding: 16px;
    border-radius: 8px;
}
.image-container{
    width:100%;
    height: 256px;
    overflow:hidden;
    position: relative;
    object-fit: cover;
}
.image-container .overlay{
    display: none;
}
.image-container:hover .overlay{
    display: block;
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    background-color: hsl(178, 100%, 50%);
    opacity: 0.2;
    border-radius: 8px;
}
.hover-view{
    display:none;
}
.image-container:hover .hover-view{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card-image{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    pointer-events: none;
}
h3{
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0;
    color: hsl(0, 0%, 100%);
    text-align: left;
}
h3:hover{
    color:aqua;
    cursor: pointer;
}
p{
    font-size: 16px;
    font-weight: 400;
    color: hsl(215, 32%, 27%);
    text-align:left;
    line-height: 1.5;
}
.more-description{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #fff5;
}
.more-description-p{
    display: flex;
    align-items: center;
    gap: 12px;
}
.first{
    color:hsl(178, 100%, 50%);
}

div.footer{
    display: flex;
    align-items: center;
    margin-top: 16px;
    gap: 12px;
}
.creator-image{
    width: 25px;
    height:25px;
    border-radius:20px;
    border: 2px solid hsl(0, 0%, 100%);
}
div p.creator-name{
    color:hsl(0, 0%, 100%);
}
.footer p.creator-name:hover span{
    color:hsl(178, 100%, 50%);
}

