*{
    margin:0 auto;
    padding:0;
    box-sizing:border-box;
    /*background-color:hsl(217, 54%, 11%);*/
}
body{
    background-color:hsl(217, 54%, 11%);
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 390px;
    height: 500px;
}
.main-container .card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color:hsl(216, 50%, 16%);
    height: 80%;
    padding: 50px 10px;
    border-radius: 20px;
}
.description{
    padding:10px;
    width: 200px;
    text-align: left;
    background-color: hsl(216, 50%, 16%);
}
.card-image{
    width:200px;
    height:175px;
    border-radius: 5px;
}

 h3{
    color: #ffff;
    font-weight: bold;
}
.description p{
    color: #fff5;
}
ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
ul li.first{
    color: aqua;
}
ul li.second{
    color:#fff5;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #fff5;
}
footer p.creator-name{
    color:beige;
}
.creator-image{
    width: 20px;
    height:20px;
    border-radius:20px;
    border: 2px solid #fff;
}
